/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-nov-2019, 17:32:54
    Author     : sergi
*/

body {
  background-color: white;
}


.hola{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: darkorange;
  width: 100%;
  
}

.hola h2 {
  color: azure;
}



h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-clip: content-box;
}

.flex-main-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 8px;
  margin-left: 0ch;
  margin-right: 0ch;
  border: 0ch;
  border-block-color: black;
  justify-content: center;
  height: 125px;
  justify-content: space-around;
}

.flex-answer-buttons{
  display: flex;
  flex-direction: column;
}

.QAbutton {
  background-color: greenyellow;
  font-size: 24px;
  font-family: Verdana;
  color: black;
  text-decoration: none; /*No subrayar*/
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid green;
  padding: .5rem 1rem;
  border-radius: 0;
  width: 250px;
  height: 80px;
  margin: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: space-around;
}

.box{
  margin: 12px;
  background-color: rgb(130, 230, 155);
  box-shadow: 4px;
  opacity: .8;
  margin-left: 10%;
}

.question{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
}

.answers-button {
  background-color: none;
  font-size: 30px;
  font-family: Verdana;
  color: black;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 4px solid green;
  padding: .5rem 1rem;
  border-radius: 0;
  margin: 0px;
  flex: 1 0 44%; /* explanation below */
  margin: 5px;
  height: 50px;
}

.HelpButton{
  
  font-size: 17px;
  font-family: Verdana;
  color: black;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid rgb(29, 130, 177);
  padding: .5rem 1rem;
  border-radius: 0;
  text-decoration: none; /*No subrayar*/
  margin: 2px;


}

.flex-help-buttons{
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  /*Poner los botones de ayuda arriba derecha*/
  position: absolute;
  top: 0px;
  right: 0px;
}

.for-back-button{
  margin-left: 6px;
}

.product-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  margin-left: 0ch;
  margin-right: 0ch;
  border: 0ch;
  border-block-color: black;
  justify-content: center;
  height: 125px;
}

.product-view{
  margin: 0px;
  background-color: rgb(182, 247, 129);
}

.image-view {
  float: right;
}

.description-label{
  float: left;
  flex-direction: column;
  width: 60%;
}

.description-label h3 {
  text-emphasis: none;
  margin: 2px;
}

.store-buttons{
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  background-color: none;
}

.view-button{
  padding: 6px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: darkorange;
  font-family: monospace;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  margin-left: 5%;
  height: 26px;
  

}

.share-button{
  padding: 6px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: darkorange;
  font-family: monospace;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  margin-left: 5%;
  height: 36px;
  

}

.migas{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none; /*No subrayar*/
  color: darkgrey;
  
}

.price {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}





